<?xml version="1.0" encoding="UTF-8" ?>
<!--최서연 ver.0.1-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamtree.api.domain.attendance.mapper.AttendanceMapper">

    <!-- 출석 레코드 DB 삽입 -->
    <insert id="addAttendance" parameterType="long">
        insert into tbl_attendance(
            progress_id,
            status,
            times,
            createdAt
        )
        select g.progress_id, REPEAT('0',times), p.times, now()
        from tbl_lesson l
        inner join tbl_progress g
            on l.lesson_id = g.lesson_id
        left join tbl_program p
            on l.program_id = p.program_id
        where l.lesson_id = #{lessonId}
            and g.deletedAt is null

    </insert>

    <!-- 학부모와 관련한 출석 현황 조회 리스트 조회 -->
    <select id="getAttendanceListForParent" resultType="com.dreamtree.api.domain.attendance.dto.AttendParentResDTO">

        select
            pr.title,
            pr.times,
            ps.child_name,
            l.lesson_id,
            l.day,
            l.lesson_time,
            l.lesson_length,
            l.start_date,
            l.end_date,
            a.status as attendance_status,
            a.attendance_id
        from
            tbl_attendance as a

        left join tbl_progress as ps
            on a.progress_id = ps.progress_id
            and ps.deletedAt is null
        left join tbl_lesson as l
            on ps.lesson_id = l.lesson_id
        left join tbl_program as pr
            on l.program_id = pr.program_id

        where ps.parent_id = #{parent_id}
            and l.state = 'inProgress'

    </select>

    <resultMap id="studentAttendanceMap" type="attendStudentResDTO">
        <id column="lesson_id"></id>
        <result property="title" column="title"></result>
        <result property="times" column="times"></result>
        <result property="day" column="day"></result>
        <result property="lessonTime" column="lesson_time"></result>
        <result property="lessonLength" column="lesson_length"></result>
        <result property="startDate" column="start_date"></result>
        <result property="endDate" column="end_date"></result>
        <collection property="progressList" javaType="java.util.ArrayList" resultMap="progressAttendanceMap"></collection>
    </resultMap>

    <resultMap id="progressAttendanceMap" type="progressAttendanceDTO">
        <result property="attendanceId" column="attendance_id"></result>
        <result property="childName" column="child_name"></result>
        <result property="attendanceStatus" column="attendance_status"></result>
    </resultMap>
    <!--대학생 출석관리 info-->

    <select id="getAttendanceListForStudent" parameterType="long" resultMap="studentAttendanceMap">
        select
            pr.title,
            pr.times,
            l.lesson_id,
            l.day,
            l.lesson_time,
            l.lesson_length,
            l.start_date,
            l.end_date,
            ps.child_name,
            at.status as attendance_status,
            at.attendance_id
        from tbl_program pr
        left join tbl_lesson l
            on pr.program_id = l.program_id
        left join tbl_progress ps
            on l.lesson_id = ps.lesson_id
            and ps.deletedAt is null
        inner join tbl_attendance at
            on at.progress_id = ps.progress_id
        where pr.student_id = #{studentId}
            and l.state = 'inProgress'
    </select>

    <!-- 출석 기록 추가시 출석 DB 출석 상태값 변경 -->
    <update id="updateAttendance" parameterType="com.dreamtree.api.domain.attendance.dto.AttendModReqDTO">

        update
            tbl_attendance
        set
            status = #{status},
            updatedAt = now()
        where
            attendance_id = #{attendanceId}

    </update>

    <update id="softDeleteAttendances">

        update
            tbl_attendance as a

        inner join
            tbl_progress p on a.progress_id = p.progress_id

        set
            deleteAt = now()

        where p.lesson_id = #{lessonId}


    </update>

</mapper>