<?xml version="1.0" encoding="UTF-8" ?>
<!--최서연 ver.0.1-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamtree.api.domain.attendance.mapper.AttendanceMapper">

    <insert id="addAttendance">

        insert into
            tbl_attendance (
                progress_id,
                status,
                times,
                createAt
            )

        values (
            #{progressId},
            #{status},
            #{times},
            now()
        )

    </insert>

    <select id="getAttendanceListForParent" resultType="com.dreamtree.api.domain.attendance.dto.AttendParentResDTO">

        select
            pr.title,
            ps.child_name,
            a.status,
            a.times

        from
            tbl_attendance as a

        left join tbl_progress as ps
            on a.progress_id = ps.progress_id
        left join tbl_lesson as l
            on ps.lesson_id = l.lesson_id
        left join tbl_program as pr
            on l.program_id = pr.program_id

        where ps.parent_id = #{parent_id}

        group by attendance_id

    </select>
</mapper>