<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamtree.api.domain.program.mapper.FileMapper">

    <insert id="postFileForm" parameterType="programFormDTO">
        insert into tbl_file(
            program_id,
            url,
            type
        ) values
        <foreach collection="fileForms" item="item" separator=",">
        (
            #{programId},
            #{item.filename},
            #{item.contentType}
        )
        </foreach>
    </insert>

</mapper>