<?xml version="1.0" encoding="UTF-8" ?>
<!--최서연 ver.0.2-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamtree.api.domain.parent.mapper.ParentMapper">

    <sql id="searchParent">

        <where>
            <if test="keyword != null and condition != null">
                <foreach collection="condition" item="item" index="index" open="(" close=")" separator="or">

                    <if test="item == 'email'">
                        email like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'nickname'">
                        nickname like concat('%', #{keyword}, '%')
                    </if>

                </foreach>
            </if>
        </where>

    </sql>

    <!--전체 학부모 조회-->
    <select id="getParentList" resultType="com.dreamtree.api.domain.parent.dto.ParentInfoResDTO" parameterType="ParentInfoReqDTO">
        select
            parent_id as id,
            email,
            nickname,
            password,
            birth,
            profile_img_url

        from
            tbl_parent

        <include refid="searchParent"></include>

        <!--정렬조건: 등록순, 이메일순-->
        <choose>
            <when test="order != null and order == 'email'">
                order by email asc
            </when>

            <otherwise>
                order by createdAt desc
            </otherwise>
        </choose>

        limit #{skip}, #{size}

    </select>

    <!--전체 학부모 회원 수 반환-->
    <select id="getCount" resultType="int">

        select
            count(*)
        from
            tbl_parent

    </select>

    <!--특정 학부모 회원 정보 조회-->
    <select id="getOneParentInfo" resultType="com.dreamtree.api.domain.parent.dto.ParentInfoResDTO">

        select
            email,
            nickname,
            password,
            birth,
            profile_img_url

        from
            tbl_parent

        where
            parent_id = #{id}

    </select>

    <!--특정 학부모 회원 정보 조회 with email-->
    <select id="getOneParentInfoWithEmail" resultType="com.dreamtree.api.domain.parent.dto.ParentInfoResDTO">

        select
            email,
            nickname,
            password,
            birth,
            profile_img_url

        from
            tbl_parent

        where
            email = #{email}

    </select>

    <!--특정 학부모 회원 정보 수정-->
    <update id="updateParentInfo">

        update
            tbl_parent
        set
            nickname = #{nickname},
            password = #{password},
            profile_img_url = #{profile_img_url},
            updatedAt = now()
        where
            parent_id=#{id}

    </update>

    <!--특정 학부모 회원 정보 삭제 설정값 지정-->
    <update id="softDeleteOneParent">

        update
            tbl_parent
        set
            deletedAt = now()
        where
            parent_id=#{id}

    </update>

    <!-- 카카오 로그인 위한 토큰 정보 조회 -->
    <select id="getParentKakaoTokenInfo" resultType="com.dreamtree.api.common.auth.kakaologin.dto.KakaoTokenResDTO">

        select
            access_token
            refresh_token
        from
            tbl_parent
        where
            email = #{email}

    </select>

    <!-- 이메일 정보로 학부모 ID값 조회 -->
    <select id="getParentInfoWithEmail" resultType="com.dreamtree.api.common.auth.kakaologin.dto.KakaoResDTO">

        select
            role as member_value,
            parent_id as id,
            nickname,
            profile_img_url,
            thumbnail_img_url
        from
            tbl_parent
        where
            email = #{email}

    </select>

    <!-- 카카오 로그인 위한 토큰 정보 업데이트 -->
    <update id="updateParentKakaoTokenInfo">

        update
            tbl_parent
        set
            access_token = #{kakao_access_token},
            refresh_token = #{kakao_refresh_token}
        where
            email = #{email}

    </update>

    <!-- 카카오 로그인 정보로 학부모 회원가입 -->
    <insert id="addParentWithKakao">

        insert into tbl_parent (
            role,
            email,
            nickname,
            profile_img_url,
            thumbnail_img_url,
            birthday,
            createdAt,
            updatedAt
        )
        values (
            'parent',
            #{email},
            #{nickname},
            #{profileImgUrl},
            #{thumbnailImgUrl},
            #{birthday},
            now(),
            now()
        )

    </insert>

    <select id="getEmailParent" resultType="emailParentDTO">
        select
            parent_id,
            role,
            nickname,
            profile_img_url
        from
            tbl_parent
        where
            email = #{email}
    </select>

</mapper>
