<?xml version="1.0" encoding="UTF-8" ?>
<!--//이승윤 ver0.1-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamtree.api.domain.program.mapper.ProgramMapper">
<!--                       p.program_id,
            p.title,
            p.content,
            p.curriculum_json,
            s.profile_img_url,
            s.nickname,
            s.email,

            l.day,
            l.lesson_time,
            l.lesson_length,
            l.start_date,
            l.end_date,
            l.personnel,

            c.name as certificate_name
            f.url as file_url,

-->

    <resultMap id="programDetails" type="programDetailsDTO">
        <id column="program_id" />

        <result property="programId" column="program_id"/>
        <result property="studentId" column="student_id"/>
        <result property="curriculumJson" column="curriculum_json"/>
        <result property="title" column="title"/>
        <result property="subCategoryId" column="sub_category_id"/>
        <result property="content" column="content"/>
        <result property="profileImgUrl" column="profile_img_url"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="college" column="college"/>
        <result property="major" column="major"/>
        <result property="fee" column="fee"/>

        <collection property="lessonLists" javaType="java.util.ArrayList" resultMap="lessonList">  </collection>
        <collection property="fileUrls" javaType="java.util.ArrayList" resultMap="fileList" />
        <collection property="certificateNames" javaType="java.util.ArrayList" resultMap="certificateList" />
    </resultMap>

    <resultMap id="fileList" type="string">
        <result column="file_url" />
    </resultMap>

    <resultMap id="certificateList" type="string">
        <result column="certificate_name" />
    </resultMap>

    <resultMap id="lessonList" type="lessonListDTO">
        <id column="lesson_id"></id>
        <result property="day" column="day"/>
        <result property="lessonTime" column="lesson_time"/>
        <result property="lessonLength" column="lesson_length"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="expireStartDate" column="expire_start_date"/>
        <result property="expireEndDate" column="expire_end_date"/>
        <result property="fee" column="fee"/>
        <result property="place" column="place"/>
        <result property="personnel" column="personnel"/>
        <collection property="progressList" javaType="java.util.ArrayList" resultMap="progressCount"/>
    </resultMap>

    <resultMap id="progressCount" type="long">
        <result column="progress_id"></result>
    </resultMap>


    <sql id="search">

        <where>
            p.sub_category_id = #{subCategoryId}
            and p.deletedAt is null

            <if test="keyword != null and condition != null">
                and (
                <foreach collection="condition" item="item" index="index" open="(" close=")" separator="or">

                    <if test="item == 'title'">
                        title like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'nickname'">
                        nickname like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'college'">
                        college like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'major'">
                        major like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'email'">
                        email like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'fee'">
                        fee &lt;= CAST(#{keyword} AS INTEGER)
                    </if>

                    <if test="item == 'times'">
                        times &lt;= CAST(#{keyword} AS INTEGER)
                    </if>

                </foreach>
                )
            </if>

        </where>

    </sql>

    <select id="getProgramLists" resultType="programListDTO" parameterType="programSearchDTO">
        select p.*,
            s.email,
            s.nickname,
            s.college,
            s.major,
            s.profile_img_url,
            c.name as certificate_name
        from tbl_program p
        left join tbl_student s
            on p.student_id = s.student_id
        left join tbl_certificate c
            on c.student_id = s.student_id
            and c.auth_state = 'success'

        <include refid="search"></include>

        order by
        <choose>
            <when test="order == 'newest'"> p.createdAt desc</when>
            <when test="order == 'times'"> p.times desc</when>
        </choose>
        limit #{skip}, #{size}
    </select>

    <select id="getProgramListsCount" resultType="integer">
        select count(*)
        from tbl_program p
        left join tbl_student s
            on p.student_id = s.student_id
        left join tbl_certificate c
            on c.student_id = s.student_id
            and c.auth_state = 'success'

        <include refid="search"></include>
    </select>

    <select id="getProgramListsByStudentId" resultType="programListDTO" parameterType="long">
        select
            program_id,
            sub_category_id,
            title
        from tbl_program p
        where student_id = #{id}
    </select>

    <select id="getProgramDetails" resultMap="programDetails" parameterType="long">
        select
            p.program_id,
            p.title,
            p.content,
            p.curriculum_json,
            p.fee,
            p.sub_category_id,
            f.url as file_url,
            s.profile_img_url,
            s.nickname,
            s.email,
            s.college,
            s.major,
            s.student_id,
            l.lesson_id,
            l.day,
            l.lesson_time,
            l.lesson_length,
            l.start_date,
            l.end_date,
            l.expire_start_date,
            l.expire_end_date,
            l.fee,
            l.place,
            l.personnel,
            c.name as certificate_name,
            progress.progress_id
        from tbl_program p
        left join tbl_student s
            on p.student_id = s.student_id
        left join tbl_certificate c
            on c.student_id = s.student_id
            and c.auth_state = 'yes'
        left join tbl_lesson l
            on l.program_id = p.program_id
            and l.state = 'open'
        left join tbl_file f
            on f.program_id = p.program_id
        left join tbl_progress progress
            on progress.lesson_id = l.lesson_id
            and progress.deletedAt is null
        where
            p.program_id = #{id}
            and p.deletedAt is null
            and l.deletedAt is null
            and s.deletedAt is null
    </select>

    <select id="getWordCloudInfo" resultType="wordCloudDTO">
        select
            p.sub_category_id,
            sub.name as sub_category_name,
            count(*) as count
        from tbl_program p
        left join tbl_sub_category sub
            on sub.sub_category_id = p.sub_category_id
        group by p.sub_category_id
    </select>

    <insert id="postProgramForm" parameterType="programFormDTO" useGeneratedKeys="true" keyProperty="programId">
        insert into tbl_program(
            student_id,
            sub_category_id,
            title,
            content,
            curriculum_json,
            times,
            fee
        ) values (
            #{studentId},
            #{subCategoryId},
            #{title},
            #{content},
            #{curriculumJson},
            #{times},
            #{fee}
        )
    </insert>

</mapper>