<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamtree.api.domain.program.mapper.ProgramManagerMapper">

    <!-- 임성현 ver.0.1 -->

    <!-- program(1) : lesson(N) -->
    <resultMap id="myLessonList" type="ProgramLessonDTO">
        <id column="program_id" />
        <result property="programId" column="program_id" />
        <result property="title" column="title" />

        <collection property="lessonProgressDTO" javaType="java.util.ArrayList" resultMap="myProgressList">  </collection>
    </resultMap>

    <!-- lesson(1) : progress(N) -->
    <resultMap id="myProgressList" type="lessonProgressDTO">
        <id column="lesson_id"/>
        <result property="lessonId" column="lesson_id"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="expireStartDate" column="expire_start_date"/>
        <result property="expireEndDate" column="expire_end_date"/>
        <result property="day" column="day"/>
        <result property="personnel" column="personnel"/>
        <result property="lessonLength" column="lesson_length"/>
        <result property="lessonTime" column="lesson_time"/>
        <result property="fee" column="fee"/>
        <result property="place" column="place"/>

        <collection property="progressList" javaType="java.util.ArrayList" resultMap="progressList">  </collection>
    </resultMap>

    <!-- progress -->
    <resultMap id="progressList" type="progressDTO">
        <result property="progressId" column="progress_id"/>
        <result property="state" column="state"/>
        <result property="childName" column="child_name"/>
    </resultMap>

    <!-- program(1) : lesson(N) -->
    <resultMap id="adminLessonList" type="adminProgramLessonListDTO">
        <id column="program_id" />
        <result property="programId" column="program_id" />
        <result property="title" column="title" />
        <result property="studentId" column="student_id" />
        <result property="nickname" column="nickname" />
        <result property="email" column="email" />

        <collection property="lessonProgressDTO" javaType="java.util.ArrayList" resultMap="myProgressList">  </collection>
    </resultMap>



    <!-- program(1) : File(N) -->
    <resultMap id="myProgramList" type="ProgramManagerListDTO">
        <id column="program_id" />
        <result property="programId" column="program_id"/>
        <result property="subCategoryId" column="sub_category_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="curriculumJson" column="curriculum_json"/>
        <result property="times" column="times"/>
        <result property="fee" column="fee"/>

        <collection property="fileList" javaType="java.util.ArrayList" resultMap="fileList">  </collection>
    </resultMap>

    <!-- program(1) : File(N) -->
    <resultMap id="adminProgramList" type="adminProgramListDTO">
        <id column="program_id" />
        <result property="programId" column="program_id"/>
        <result property="subCategoryId" column="sub_category_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="curriculumJson" column="curriculum_json"/>
        <result property="times" column="times"/>
        <result property="studentId" column="student_id"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="authState" column="auth_state"/>

        <collection property="fileList" javaType="java.util.ArrayList" resultMap="fileList">  </collection>
    </resultMap>
    <!-- file -->
    <resultMap id="fileList" type="fileDTO">
        <result property="fileId" column="file_id"/>
        <result property="programId" column="program_id"/>
        <result property="url" column="url"/>
    </resultMap>

    <!-- 프로그램 검색 -->
    <sql id="searchProgram">
        <where>
            pm.deletedAt is null

            and
            (
            <if test="keyword != null and condition != null">
                <foreach collection="condition" item="item" index="index" separator="or">
                    <if test="item == 'nickname'">
                        s.nickname like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'email'">
                        s.email like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'authState'">
                        s.auth_state like concat('%', #{keyword}, '%')
                    </if>

                    <if test="item == 'title'">
                        pm.title like concat('%', #{keyword}, '%')
                    </if>

                </foreach>
            </if>
            )
        </where>
    </sql>

    <!-- 내가 쓴 프로그램 리스트 -->
    <select id="getMyProgramList" resultMap="myProgramList" resultType="programManagerListDTO">
        select
            p.program_id,
            p.sub_category_id,
            p.title,
            p.content,
            p.curriculum_json,
            p.times,
            p.fee,
            f.file_id,
            f.url
        from
            tbl_program p
        left join tbl_file f on p.program_id = f.program_id
        where
            p.deletedAt is null and
            p.student_id = #{id}
    </select>

    <!-- 내 레슨 리스트 -->
    <select id="getMyLessonList" resultMap="myLessonList">
        select
            pm.program_id,
            pm.title,
            l.lesson_id,
            l.start_date,
            l.end_date,
            l.expire_start_date,
            l.expire_end_date,
            l.day,
            l.personnel,
            l.lesson_length,
            l.lesson_time,
            l.fee,
            l.place,
            ps.progress_id,
            ps.pay_status as state,
            ps.child_name
        from
            tbl_program pm
        left join tbl_lesson l on pm.program_id = l.program_id and l.deletedAt is null
        left join tbl_progress ps on l.lesson_id = ps.lesson_id

        where
            pm.deletedAt is null and
            pm.student_id = #{id}


    </select>

    <!-- Admin 프로그램 관리 리스트 -->
    <select id="getAdminProgramList" resultMap="adminProgramList" resultType="adminProgramListDTO">
        select
            pm.program_id,
            pm.sub_category_id,
            pm.title,
            pm.content,
            pm.curriculum_json,
            pm.times,
            f.file_id,
            f.url,
            s.student_id,
            s.nickname,
            s.email,
            s.auth_state
        from
            tbl_program pm
        left join tbl_file f on pm.program_id = f.program_id
        left join tbl_student s on pm.student_id = s.student_id

        <include refid="searchProgram"></include>

        order by
            pm.updatedAt desc
        limit #{skip}, #{size}
    </select>

    <!-- Admin 레슨 리스트 -->
    <select id="getAdminLessonList" resultMap="adminLessonList" resultType="adminProgramLessonListDTO">
        select
            pm.program_id,
            pm.title,
            l.lesson_id,
            l.start_date,
            l.end_date,
            l.expire_start_date,
            l.expire_end_date,
            l.day,
            l.personnel,
            l.lesson_length,
            l.lesson_time,
            l.fee,
            l.place,
            ps.progress_id,
            ps.pay_status as state,
            ps.child_name,
            s.student_id,
            s.nickname,
            s.email
        from
            tbl_program pm
        left join tbl_lesson l on pm.program_id = l.program_id and l.deletedAt is null
        left join tbl_progress ps on l.lesson_id = ps.lesson_id
        left join tbl_student s on pm.student_id = s.student_id

        <include refid="searchProgram"></include>

        order by
            pm.updatedAt desc
        limit #{skip}, #{size}
    </select>

    <!-- 관리자 프로그램 카운트 -->
    <select id="getAdminProgramCount" resultType="integer">
        select
            count(*)
        from
            tbl_program pm
        left join tbl_file f on pm.program_id = f.program_id
        left join tbl_student s on pm.student_id = s.student_id

        <include refid="searchProgram"></include>
    </select>

    <!-- 관리자 레슨 카운트 -->
    <select id="getAdminLessonCount" resultType="integer">
        select
            count(*)
        from
            tbl_program pm
        left join tbl_lesson l on pm.program_id = l.program_id
        left join tbl_progress ps on l.lesson_id = ps.lesson_id
        left join tbl_student s on pm.student_id = s.student_id

        <include refid="searchProgram"></include>
    </select>

    <update id="removeProgram">
        update
            tbl_program
        set
            deletedAt = now()
        where
            program_id = #{id}
    </update>

    <update id="removeLesson">
        update
            tbl_lesson
        set
            deletedAt = now()
        where
            lesson_id = #{id}
    </update>

    <update id="modifyProgram">
        update
            tbl_program
        set
            sub_category_id = #{subCategoryId},
            title = #{title},
            content = #{content},
            curriculum_json = #{curriculumJson},
            times = #{times},
            fee = #{fee},
            updatedAt = now()
        where
            program_id = #{programId}
    </update>

    <!-- 프로그램에 레슨 있는지 -->
    <select id="selectProgramLessonCount" resultType="int">
        select
            count(*)
        from
            tbl_lesson
        where
            program_id = #{id}
    </select>

</mapper>