<?xml version="1.0" encoding="UTF-8" ?>
<!--최서연 ver.0.1-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamtree.api.domain.request.mapper.RequestMapper">

    <sql id="search">

        <where>
            <if test="keyword != null and condition != null">
                <foreach collection="condition" item="item" index="index" open="(" close=")" separator="or">

                    <if test="item == 'title'">
                        title like concat('%', #{keyword}, '%')
                    </if>


                    <if test="item == 'description'">
                        description like concat('%', #{keyword}, '%')
                    </if>


                    <if test="item == 'nickname'">
                        nickname like concat('%', #{keyword}, '%')
                    </if>


                    <if test="item == 'sub_category_name'">
                        sub_category_name like concat('%', #{keyword}, '%')
                    </if>


                    <if test="item == 'category_name'">
                        category_name like concat('%', #{keyword}, '%')
                    </if>

                </foreach>
            </if>
        </where>

    </sql>

    <insert id="addRequest" parameterType="requestAddDTO" useGeneratedKeys="true" keyProperty="request_id">

        insert into
            tbl_request (
                title,
                parent_id,
                sub_category_id,
                description,
                content,
                student_grade,
                student_gender,
                createdAt
            )
        values (
            #{title},
            #{parent_id},
            #{sub_category_id},
            #{description},
            #{content},
            #{student_grade},
            #{student_gender},
            now()
        )

    </insert>

    <!--학부모 요청글 전체 조회-->
    <select id="getAllRequests" resultType="com.dreamtree.api.domain.request.dto.RequestResDTO">

        select
        r.request_id,
        r.title,
        p.nickname,
        c.name as category_name,
        s.name as sub_category_name,
        r.description,
        r.content,
        r.student_grade,
        r.student_gender,
        r.createdAt

        from
        tbl_request as r

        left join tbl_parent as p
        on r.parent_id = p.parent_id

        left join tbl_sub_category as s
        on r.sub_category_id = s.sub_category_id

        left join tbl_category as c
        on s.category_id = c.category_id

        <include refid="search"></include>

        group by r.request_id

        limit #{skip}, #{size}

    </select>

    <select id="getAllRequestsCount" resultType="int">

        select
            count(request_id)
        from
            tbl_request

    </select>

    <!--특정 요청 게시글 정보 조회-->
    <select id="getOneRequest" resultType="com.dreamtree.api.domain.request.dto.RequestResDTO">

        select
            r.request_id,
            r.title,
            p.nickname,
            c.name as category_name,
            s.name as sub_category_name,
            r.description,
            r.content,
            r.student_grade,
            r.student_gender,
            r.createdAt

        from
            tbl_request as r

        left join tbl_parent as p
            on r.parent_id = p.parent_id

        left join tbl_sub_category as s
            on r.sub_category_id = s.sub_category_id

        left join tbl_category as c
            on s.category_id = c.category_id

        where
            r.request_id = #{id}

        group by r.request_id

    </select>

    <!--특정 요청 게시글 정보 수정-->
    <update id="updateRequest">

        update
            tbl_request
        set
            title = #{title},
            sub_category_id = #{sub_category_id},
            description = #{description},
            content = #{content},
            student_grade = #{student_grade},
            student_gender = #{student_gender},
            updatedAt = now()

        where
            request_id = #{requestId}

    </update>

    <!--특정 요청 게시글 정보 삭제-->
    <update id="softDeleteRequest">

        update
            tbl_request
        set
            deletedAt = now()
        where
            request_id=#{id}

    </update>

</mapper>